* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Altura / vh - altura */
    width: 100vw;
    /*  vw - largura */
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
    background-repeat:no-repeat;
    background-size: cover;
}

.caixa-maior {
    background-color: #06381c;/*  Troca cor de fundo  */
    width: 100%; /*  Largura  */
    max-width: 600px; /*  Largura  Maxima */
    opacity: 0.8;/* transparencia do item */
    padding: 20px;
    border-radius: 25px;
}

input {
    border: none;/* borda do elemento */
    outline: none;/* borda quando seleciona o elemento */
    padding: 10px;/* espaçamento interno */
    border-radius: 24px;/* arredonda as bordas */
    font-size: 20px;
    background-color: #1cd17d2b;
    color: #ffffff;
    width: calc( 100% - 100px);
}

button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #435a472b;
    float: right;
    cursor: pointer;
}

button:hover {
    background-color: #769c7e2b;
}

.caixa-media {
    margin-top: 30px;
}

.caixa-menor-1 {
    display: flex;
    margin-top: 30px;
    align-items: center;
}
.caixa-menor-2 {
    display: flex;
    margin-top: 30px;
    align-items: center;
}
.caixa-menor-3 {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.caixa-menor-4 {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.icone-2{
    max-height: 50px;
    
}

.icone-3{
    max-height: 30px;
    
}
.icone-4{
    max-height: 30px;
    
}

.lupa {
    height: 20px;
}

h2 {
    color: white;
    font-size: 28px; /* tamanho do texto */
}

.temp {
    color: #ffffff;
    margin-top: 30px;
    margin-left: 20px;
}

.descricao {
    color: #ffffff;
    margin-left: 20px;
    text-transform: capitalize; /* Deixa a primeira letra maiuscula*/
}

.umidade {
    color: #ffffff;
    margin-top: 30px;
    margin-left: 20px;
}

.vento{
    color: #ffffff;
    margin-top: 30px;
    margin-left: 20px;
}